<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="isLoading" style="text-align:center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
        <button class="btn btn-danger" (click)="onHandleError()">
          Okay
        </button>
      </div>
      <form #guildForm="ngForm" (ngSubmit)="onSubmit(guildForm)" *ngIf="!isLoading">
        <div class="form-group">
          <label for="name">Guild Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            required
          >
        </div>
        <div class="form-group">
          <label for="owner">Owner</label>
          <select
            class="form-control"
            id="owner"
            ngModel
            name="owner"
            [disabled]="!hasGuildlessCharacter()"
            required
          >
            <option *ngFor="let character of characters" [value]="character.id" [disabled]="!!character.guildId">{{ character.name }}</option>
          </select>
        </div>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!guildForm.valid || !hasGuildlessCharacter()">
            Create Guild
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
