<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-guild-create></app-guild-create>
    </div>
    <div class="col-9">
      <h2 *ngIf="guilds.length === 0">You have no guilds!</h2>
      <div class="card" *ngFor="let guild of guilds">
        <div class="card-body">
          <h5 class="card-title">{{ guild.name }}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/guild', guild.id]" class="btn btn-primary">Button</a>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-body">
          <app-guild-create></app-guild-create>
        </div>
      </div> -->
    </div>
  </div>
</div>